%h1.heading
  = 'New Uprofile'
  
- semantic_form_for(@uprofile) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', uprofiles_path
