%h1.heading
  = "Editing usocial %s" % @usocial.id
  
- semantic_form_for(@usocial) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', usocials_path
