#comments
  .comment
    +box-shadow("0px 0px 4px #ccc")
    +border-radius("4px")
    border: 1px solid #ccc
    padding: 1px
    .comment-header
      cursor: pointer
      .user-image
        margin-right: 5px
      .user-image img
        width: 20px
        height: 20px
      .source
        color: #aaa
      .short-message
        color: #aaa
        
#new_comment_form
  +box-shadow("0px 0px 4px #ccc")
  +border-radius("4px")
  border: 1px solid #ccc
  padding: 10px
  #comment_message
    width: 95%
    height: 100px
  fieldset.buttons
    padding: 0