%h1.heading
  = 'New User profile'
  
- semantic_form_for(@user_profile) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', user_profiles_path
