%h1.heading
  = "Editing interest %s" % @interest.id
  
- semantic_form_for(@interest) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', interests_path
