%h1.heading
  = "Editing workposition %s" % @workposition.id
  
- semantic_form_for(@workposition) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Update'
    
%p.actions
  = link_to 'Cancel', workpositions_path
