%h1.heading
  = 'New Workposition'
  
- semantic_form_for(@workposition) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', workpositions_path
