%h1.heading
  = 'New Education'
  
- semantic_form_for(@education) do |form|
  = render 'form', :form => form
  - form.buttons do
    = form.commit_button 'Create'
    
%p.actions
  = link_to 'Cancel', educations_path
