- if @project && !@project.new_record?
  %h1
    = @project
  
  .menu
    - [["Dashboard", "projects", nil], ["Calendar", "events", :events], ["CoEdit", "wiki_pages", :wiki_pages], ["Research Feeds", "articles", :articles], ["Tasks", "tasks", :tasks], ["Files", "assets", :assets]].each do |link_name, link_controller, link_path|
      = link_to link_name, [@project, link_path], :class => (controller_name == link_controller) ? "current" : nil

- elsif @user && !@user.new_record?
  %h1
    = @user
  
  .menu
    - [["Dashboard", "users", nil], ["Calendar", "events", :events]].each do |link_name, link_controller, link_path|
      = link_to link_name, [User.find(@user.id), link_path], :class => (controller_name == link_controller) ? "current" : nil
%br